version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8
    steps:
      - checkout

      - restore_cache:
          key: yarn-v2-{{ checksum "yarn.lock" }}
      - restore_cache:
          key: node-v2-{{ checksum "package.json" }}
      - run: yarn install
      - save_cache:
          key: yarn-v2-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - save_cache:
          key: node-v2-{{ checksum "package.json" }}
          paths:
            - node_modules

      - run: yarn run test:ci
      - run: bash <(curl -s https://codecov.io/bash) -f coverage/coverage-final.json